<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to("Uneeds", root_path, :class => "navbar-brand") %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <%= navbar_link_to t(".home"), root_path,
          :active_when => { :controller => "home" } %>
        <!-- <li><a href="#contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
        <% if current_user && current_user.has_role?(:admin) %>
          <li>
            <%= navbar_link_to t(".exchanges"),
                                admin_exchanges_path,
                                :active_when => { :controller => "admin/exchanges" } %>
          </li>
          <li>
            <%= navbar_link_to t(".transfers"),
                                admin_transfers_path,
                                :active_when => { :controller => "admin/transfers" }%>
          </li>

        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to image_tag("ensigns/jpy.png", width: 24, height: 24), {locale: "ja"} %>
        </li>
        <li>
          <%= link_to image_tag("ensigns/cny.png", width: 24, height: 24), {locale: "zh-CN"} %>
        </li>
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email%> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><%= t ".settings" %></a></li>
              <li><%= link_to t(".log_out"), destroy_user_session_path, method: :delete %></li>
            </ul>
        <% else %>
          <li><%= link_to t(".log_in"), new_user_session_path %></li>
          <li><%= link_to t(".register"), new_user_registration_path %></a></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
